CREATE DATABASE QLDA2023
GO

USE QLDA2023
GO

/****** Object:  Table [dbo].[CONGVIEC]    Script Date: 08/12/2015 11:15:00 AM ******/
CREATE TABLE [dbo].[CONGVIEC](
	[MADA] [int] NOT NULL,
	[STT] [int] NOT NULL,
	[TEN_CONG_VIEC] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADA] ASC,
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


/****** Object:  Table [dbo].[DEAN]    Script Date: 08/12/2015 11:15:00 AM ******/

CREATE TABLE [dbo].[DEAN](
	[TENDA] [char](15) NULL,
	[MADA] [int] NOT NULL,
	[DDIEM_DA] [nchar](15) NULL,
	[PHONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


/****** Object:  Table [dbo].[DIADIEM_PHG]    Script Date: 08/12/2015 11:15:00 AM ******/

CREATE TABLE [dbo].[DIADIEM_PHG](
	[MAPHG] [int] NOT NULL,
	[DIADIEM] [nchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHG] ASC,
	[DIADIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 08/12/2015 11:15:00 AM ******/

CREATE TABLE [dbo].[NHANVIEN](
	[HONV] [nvarchar](15) NULL,
	[TENLOT] [nvarchar](15) NULL,
	[TENNV] [nvarchar](15) NULL,
	[MANV] [char](9) NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[DCHI] [nchar](30) NULL,
	[PHAI] [nchar](3) NULL,
	[LUONG] [float] NULL,
	[MA_NQL] [char](9) NULL,
	[PHG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


/****** Object:  Table [dbo].[PHANCONG]    Script Date: 08/12/2015 11:15:00 AM ******/

CREATE TABLE [dbo].[PHANCONG](
	[MA_NVIEN] [char](9) NOT NULL,
	[MADA] [int] NOT NULL,
	[STT] [int] NOT NULL,
	[THOIGIAN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_NVIEN] ASC,
	[MADA] ASC,
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 08/12/2015 11:15:00 AM ******/

CREATE TABLE [dbo].[PHONGBAN](
	[TENPHG] [nchar](15) NULL,
	[MAPHG] [int] NOT NULL,
	[TRPHG] [char](9) NULL,
	[NG_NHANCHUC] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


/****** Object:  Table [dbo].[THANNHAN]    Script Date: 08/12/2015 11:15:00 AM ******/

CREATE TABLE [dbo].[THANNHAN](
	[MA_NVIEN] [char](9) NOT NULL,
	[TENTN] [nvarchar](15) NOT NULL,
	[PHAI] [nchar](3) NULL,
	[NGSINH] [datetime] NULL,
	[QUANHE] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_NVIEN] ASC,
	[TENTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


INSERT [dbo].[CONGVIEC] ([MADA], [STT], [TEN_CONG_VIEC]) VALUES (1, 1, N'THIET KE SAN PHAM X')
INSERT [dbo].[CONGVIEC] ([MADA], [STT], [TEN_CONG_VIEC]) VALUES (1, 2, N'THU NGHIEM SAN PHAM X')
INSERT [dbo].[CONGVIEC] ([MADA], [STT], [TEN_CONG_VIEC]) VALUES (2, 1, N'SAN XUAT SAN PHAM Y')
INSERT [dbo].[DEAN] ([TENDA], [MADA], [DDIEM_DA], [PHONG]) VALUES (N'SAN PHAM X     ', 1, N'VŨNG TÀU       ', 5)
INSERT [dbo].[DEAN] ([TENDA], [MADA], [DDIEM_DA], [PHONG]) VALUES (N'SAN PHAM Y     ', 2, N'NHA TRANG      ', 5)
INSERT [dbo].[DEAN] ([TENDA], [MADA], [DDIEM_DA], [PHONG]) VALUES (N'SAN PHAM Z     ', 3, N'TP HCM         ', 5)
INSERT [dbo].[DIADIEM_PHG] ([MAPHG], [DIADIEM]) VALUES (1, N'TPHCM          ')
INSERT [dbo].[DIADIEM_PHG] ([MAPHG], [DIADIEM]) VALUES (4, N'HÀ NỘI         ')
INSERT [dbo].[DIADIEM_PHG] ([MAPHG], [DIADIEM]) VALUES (5, N'NHA TRANG      ')
INSERT [dbo].[NHANVIEN] ([HONV], [TENLOT], [TENNV], [MANV], [NGAYSINH], [DCHI], [PHAI], [LUONG], [MA_NQL], [PHG]) VALUES (N'LÊ', N'QUỲNH', N'NHƯ', N'001      ', CAST(N'1967-02-01 00:00:00.000' AS DateTime), N'291 HỒ VĂN HUÊ,TP HCM         ', N'NỮ ', 43000, N'006      ', 4)
INSERT [dbo].[NHANVIEN] ([HONV], [TENLOT], [TENNV], [MANV], [NGAYSINH], [DCHI], [PHAI], [LUONG], [MA_NQL], [PHG]) VALUES (N'TRẦN', N'THANH', N'TÂM', N'003      ', CAST(N'1957-05-04 00:00:00.000' AS DateTime), N'34 MAI THỊ LỰ,TP HCM          ', N'NAM', 25000, N'005      ', 5)
INSERT [dbo].[NHANVIEN] ([HONV], [TENLOT], [TENNV], [MANV], [NGAYSINH], [DCHI], [PHAI], [LUONG], [MA_NQL], [PHG]) VALUES (N'NGUYỄN', N'MẠNH', N'HÙNG', N'004      ', CAST(N'1967-03-04 00:00:00.000' AS DateTime), N'95 BÀ RỊA VŨNG TÀU            ', N'NAM', 38000, N'005      ', 5)
INSERT [dbo].[PHANCONG] ([MA_NVIEN], [MADA], [STT], [THOIGIAN]) VALUES (N'001      ', 20, 1, 15)
INSERT [dbo].[PHANCONG] ([MA_NVIEN], [MADA], [STT], [THOIGIAN]) VALUES (N'001      ', 30, 1, 20)
INSERT [dbo].[PHANCONG] ([MA_NVIEN], [MADA], [STT], [THOIGIAN]) VALUES (N'003      ', 1, 2, 20)
INSERT [dbo].[PHONGBAN] ([TENPHG], [MAPHG], [TRPHG], [NG_NHANCHUC]) VALUES (N'QUẢN LÝ        ', 1, N'006      ', CAST(N'1971-06-19 00:00:00.000' AS DateTime))
INSERT [dbo].[PHONGBAN] ([TENPHG], [MAPHG], [TRPHG], [NG_NHANCHUC]) VALUES (N'ÐIỀU HÀNH      ', 4, N'008      ', CAST(N'1985-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[PHONGBAN] ([TENPHG], [MAPHG], [TRPHG], [NG_NHANCHUC]) VALUES (N'NGHIÊN CỨU     ', 5, N'005      ', CAST(N'1978-05-22 00:00:00.000' AS DateTime))
INSERT [dbo].[THANNHAN] ([MA_NVIEN], [TENTN], [PHAI], [NGSINH], [QUANHE]) VALUES (N'001      ', N'MINH', N'NAM', CAST(N'1932-02-29 00:00:00.000' AS DateTime), N'VỢ CHỒNG')
INSERT [dbo].[THANNHAN] ([MA_NVIEN], [TENTN], [PHAI], [NGSINH], [QUANHE]) VALUES (N'005      ', N'KHANG', N'NAM', CAST(N'1973-10-25 00:00:00.000' AS DateTime), N'CON TRAI')
INSERT [dbo].[THANNHAN] ([MA_NVIEN], [TENTN], [PHAI], [NGSINH], [QUANHE]) VALUES (N'005      ', N'PHUONG', N'NỮ ', CAST(N'1948-05-03 00:00:00.000' AS DateTime), N'VỢ CHỒNG')
ALTER TABLE [dbo].[CONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_CONGVIEC_DEAN] FOREIGN KEY([MADA])
REFERENCES [dbo].[DEAN] ([MADA])
GO
ALTER TABLE [dbo].[CONGVIEC] CHECK CONSTRAINT [FK_CONGVIEC_DEAN]
GO
ALTER TABLE [dbo].[DEAN]  WITH CHECK ADD  CONSTRAINT [FK_DEAN_PHONGBAN] FOREIGN KEY([PHONG])
REFERENCES [dbo].[PHONGBAN] ([MAPHG])
GO
ALTER TABLE [dbo].[DEAN] CHECK CONSTRAINT [FK_DEAN_PHONGBAN]
GO
ALTER TABLE [dbo].[DIADIEM_PHG]  WITH CHECK ADD  CONSTRAINT [FK_DIADIEM_PHG_PHONGBAN] FOREIGN KEY([MAPHG])
REFERENCES [dbo].[PHONGBAN] ([MAPHG])
GO
ALTER TABLE [dbo].[DIADIEM_PHG] CHECK CONSTRAINT [FK_DIADIEM_PHG_PHONGBAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANIEN_NHANVIEN] FOREIGN KEY([MA_NQL])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANIEN_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHONGBAN] FOREIGN KEY([PHG])
REFERENCES [dbo].[PHONGBAN] ([MAPHG])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHONGBAN]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_CONGVIEC] FOREIGN KEY([MADA], [STT])
REFERENCES [dbo].[CONGVIEC] ([MADA], [STT])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_CONGVIEC]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_NHANVIEN] FOREIGN KEY([MA_NVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_NHANVIEN]
GO
ALTER TABLE [dbo].[PHONGBAN]  WITH CHECK ADD  CONSTRAINT [FK_PHONGBAN_NHANVIEN] FOREIGN KEY([TRPHG])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHONGBAN] CHECK CONSTRAINT [FK_PHONGBAN_NHANVIEN]
GO
ALTER TABLE [dbo].[THANNHAN]  WITH CHECK ADD  CONSTRAINT [FK_THANNHAN_NHANVIEN] FOREIGN KEY([MA_NVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[THANNHAN] CHECK CONSTRAINT [FK_THANNHAN_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NV] CHECK  (([PHAI]=N'NỮ' OR [PHAI]='NAM'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_NV]
GO
ALTER TABLE [dbo].[THANNHAN]  WITH CHECK ADD  CONSTRAINT [CK_TH] CHECK  (([PHAI]=N'NỮ' OR [PHAI]='NAM'))
GO
ALTER TABLE [dbo].[THANNHAN] CHECK CONSTRAINT [CK_TH]
GO

